<!--
  templateType: none
-->
<!DOCTYPE html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8" />
    {% if page_meta.html_title or pageTitle %}
      <title>{{ page_meta.html_title or pageTitle }}</title>
    {% endif %}
    {% if brand_settings.primaryFavicon.src %}
      <link rel="shortcut icon" href="{{ brand_settings.primaryFavicon.src }}" />
    {% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}" />
    {{ standard_header_includes }}
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">
      {% block header %}
      {% endblock header %}

      {% block body %}
      {% endblock body %}

      {% block footer %}
      {% endblock footer %}
    </div>

    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}
  </body>
</html>
