.page {

  & h1 {
    text-align: center;
  }

  & .back {
    text-align: center;
  }
}

.profile {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.home {
  width: 100%;
  text-align: center;

  h1 {
    margin-bottom: 50px;
  }

  & a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 12px 15px;
    border-radius: 5px;
  }

}
