{% set experimentalHublData = [] %}
{% for content in contents %}
  {% set tagList = [] %}
  {% for tag in content.tag_list %}
    {% do tagList.append({
        "name": tag.name,
        "slug": tag.slug,
      })
    %}
  {% endfor %}

  {% set blogPost = {
      "id": content.id,
      "name": content.name,
      "parentBlog": {
        "absoluteUrl": content.parent_blog.absolute_url
      },
      "blogAuthor": {
        "displayName": content.blog_author.display_name,
        "avatar": resize_image_url( content.blog_author.avatar, 100, 0, 100 ),
        "slug": content.blog_author.slug
      },
      "featuredImage": content.featured_image,
      "featuredImageHeight": content.featured_image_height,
      "featuredImageWidth": content.featured_image_width,
      "absoluteUrl": content.absolute_url,
      "featuredImageAltText": content.featured_image_alt_text,
      "tagList": tagList,
      "publishDate": content.publish_date,
      "publishDateLocalized": content.publish_date_localized,
      "postListContent": content.post_list_content|striptags
    }
  %}
  {% do experimentalHublData.append(blogPost) %}
{% endfor %}
