:root {
  --primary-color: #ff7a59;
  --primary-color-dark: #e66e50;
  --primary-color-med: #ffbcac;
  --primary-color-light: #fff1ee;
  --secondary-color: #dfe3eb;
  --accent-color: #2d3e50;
  --light-accent-color: #eaf0f6;
}

.wrapper {
  width: 100%;
  background-color: transparent;

  & nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 25px;

    & ul {
      gap: 20px;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      & li {
        & a {
          text-decoration: none;
          color: var(--accent-color);
          &:hover {
            color: var(--primary-color);
            }
          }
        & ul {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          border: 1px solid #ccc;
          padding: 10px;
          & li {
            position: relative;
            &  a {
                color: gray;
                text-decoration: none;
              }
            & ul {
              position: absolute;
              top: 10px;
              left: 0px;
              margin-top: 0px;
              border: none;
              & li {
                display: block;
                top: unset;
                left: unset;
                & a {
                  color: gray;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

ul.hs-menu-children-wrapper li {
  display: none;
}
