.page {
  & h1 {
    text-align: center;
  }

  & .hero {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    & h1 {
      color: white;
      font-size: 3em;
      margin: auto;
      font-family: sans-serif;
    }
  }
}
