.hsPostListingWrapper--tiles {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, calc(100% / 3 - 20px)));
  gap: 20px;
}

.hsPostListingWrapper--minimal {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.hsPostListingHeading {
  display: block;
}

.hsPostListing--image {
  max-width: 250px;
}

.hsPostListingFeaturedImage {
  height: 10rem;
  max-height: 100%;
  margin-bottom: 1rem;
}

.hsPostListingImage {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hsPostListingBody {
  display: flex;
  flex-direction: column;
}

.hsPostListingTitle {
  display: block;
}

.hsPostListingAuthor {
  display: block;
}

.hsPostListingPublishDate {
  display: block;
}

.hsPostListingAuthorDate {
  display: flex;
  justify-content: space-between;
}
